.top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 3vh;
}
.logo {
    width: 5vh;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 7vh;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-icon:hover {
    transform: scale(1.1);
}
