.filter-bar {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.page-container-selectweapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20vh;
    padding-right: 50vh;
    padding-left: 50vh;
}

.filter-bar input,
.filter-bar select {
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    width: 250px;
}

.weapon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 100%;
}

.weapon-card {
    background-color: #3a3a3a;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: white;
}

.weapon-card:hover {
    transform: scale(1.03);
}

.weapon-card img {
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.weapon-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

.weapon-info p {
    margin: 4px 0 0;
    font-size: 0.9rem;
    color: #ccc;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 60vh;
}
